- name: install tomcat
  package:
    name: tomcat
    state: latest

- name: create tomcat directories
  file:
    path: "/usr/share/tomcat/webapps/{{item}}"
    state: directory
  with_items:
    - ROOT
    - ansible

- name: start tomcat
  service: name=tomcat state=started enabled=True

- name: copy static index.html to tomcat webapps/ansible/index.html
  template:
    src: index.html.j2
    dest: /usr/share/tomcat/webapps/ROOT/index.html
    mode: 0644

- name: copy static index.html to tomcat webapps/ansible/index.html
  template:
    src: "index.html.{{ansible_hostname}}"
    dest: /usr/share/tomcat/webapps/ansible/index.html
    mode: 0644

- name: install apache
  yum: name=httpd state=latest
  notify:
    - enable apache
    - start apache
